<% if @command.errors.present? %>
	<ul id="errors">
		<% @command.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @command do |f| %>
	<div><%= f.label :name %> <%= f.text_field :name %></div>
	<div><%= f.label :body %> <%= f.text_area :body %></div>
	<div><%= f.submit %></div>
<% end %>
